:root {
    --primary-color: #98D7C2;
    --secondary-color: #167D7F;
    --tertiary-color:#29A0B1;
}

header {
    text-align: center;
    padding: 30px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: bold;
}

footer {
    padding: 15px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: 600;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.performanceDiv {
    background-color: rgba(223, 228, 233, 0.937);
    color: var(--secondary-color);
    width: 220px;
    height: 225px;
    text-align: center;
}

#performanceRow {
    padding: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1.1rem;
}