@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@300;400;700&family=Open+Sans&display=swap');

:root {
    --primary-color: #98D7C2;
    --secondary-color: #167D7F;
    --tertiary-color:rgba(235, 241, 246, 0.937);
    --primary-font: "Open Sans", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
}

header {
    text-align: center;
    padding: 30px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-size: 2rem;
    font-weight: bold;
}

footer {
    padding: 15px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--secondary-font);
    font-weight: 500;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.performanceDiv {
    background-color: var(--tertiary-color);
    padding: 5px;
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-weight: bold;
    font-size: 1.15rem;
    width: 240px;
    height: 100px;
    text-align: center;
    border-radius: 15px;
}

.performanceDiv h2 {
    text-decoration: underline;
}

.positive-percentage {
    color: rgb(71, 182, 71);
    font-family: var(--primary-font);
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
}

.negative-percentage {
    color: rgb(216, 76, 76);
    font-family: var(--primary-font);
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
}

#stocksContainer {
    background-color: var(--tertiary-color);
    padding-top: 25px;
    padding-left: 5%;
    padding-right: 5%;
}

#performanceRow {
    padding: 20px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1.1rem;
    font-weight: 600;
}

.stock-card {
    padding: 5px;
}

#stock-button-1 , #stock-button-2 , #stock-button-3 , #stock-button-4 , #stock-button-5 {
    background-color: var(--primary-color);
}

#stock-button-1:hover , #stock-button-2:hover , #stock-button-3:hover , #stock-button-4:hover , #stock-button-5:hover {
    background-color: var(--secondary-color);
}

.error-message {
    color: red;
    font-style: italic;
    background-color: rgba(240, 128, 128, 0.2);
    margin-top: 7px;
    padding: 2px;
    font-size: 10px;
}

.performance-negative {
    color: red;
    font-weight: bold;
    background-color: rgba(240, 128, 128, 0.2);
    padding: 5px;
    border-radius: 4px;
}

.performance-positive {
    color: green;
    font-weight: bold;
    background-color: rgba(144, 238, 144, 0.2);
    padding: 5px;

}

/* NEWS FEED */


.hwrap {
    overflow: hidden; /* HIDE SCROLL BAR */
    background: var(--tertiary-color);
    /* position: sticky; */
    margin-top: 1rem;
    margin-bottom: 1rem;
    z-index: 1;
    }
  
.bg-green-100 {
      margin-left: 10px;
      margin-top: 500px;
      font-family: var(--primary-font);
  }
   
  /* MOVING TICKER WRAPPER */
.hmove{ display: flex; }
  
  /* ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    font-family: var(--secondary-font);
    float:left; 
    width: auto;
    white-space:nowrap;
}

  
/* ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
@keyframes tickerh {
    0% { transform: translate3d(100%, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0); }
}
  .hmove { animation: tickerh linear 15s infinite; }
  .hmove:hover { animation-play-state: paused; }

@media only screen and (max-width: 768px) {
    .hmove { animation-duration: 20s; }
}

.percentage-positive {
    color: rgb(71, 182, 71);
    font-family: var(--primary-font);
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
}

.percentage-negative {
    color: red;
    font-family: var(--primary-font);
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
}

#newsContainer {
    background-color: var(--primary-color);
    width: 100%;
    padding: 25px;
    border-radius: 15px;
}

.newsTitle {
    font: var(--secondary-font);
    font-size: 40px;
    font-weight: bolder;
    color: green;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 25px;
    background-color: var(--primary-color);
    border-radius: 20px;
    border-color: var(--secondary-color);
}

#stockGrid {
    padding: 2px;
    width: 100%;
}

#stockInfoOne, #stockInfoTwo, #stockInfoThree {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 30px;
}

